body {
  display: flex;
}

img {
  vertical-align: middle;
}

#root {
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
}

.chart {
  position: relative;
  height: 350px;
}

.h-100p {
  height: 100%;
}

.center {
  margin: 0 auto;
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.ui {
  &.center {
    &.container {
      display: flex;
      width: 100%;
      align-items: center;
      min-height: 100%;

      > .grid {
        width: 100%;
      }
    }
  }
}